doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel="stylesheet", href="css/main.css")
        link(rel="preload" as="fetch" href="css/main.css.map")
    body
        h1 test
        img(src='./photo.jpeg')
